@import "tailwindcss";

@layer components {
    .nav-active {
        --tw-border-opacity: 1;
        border-color: rgb(0 0 0 / var(--tw-border-opacity)) /* #000000 */;
        border-bottom-width: 2px;
        font-weight: bold;

    }
    .nav-item {
        padding-top: 0.5rem /* 8px */;
        padding-bottom: 0.5rem /* 8px */;
        padding-left: 0.5rem /* 8px */;
        padding-right: 0.5rem /* 8px */;
    }
    .project-card {
        @apply bg-gray-200 rounded-md p-4 basis-sm min-h-96 shadow-lg hover:scale-110 transition-transform duration-300 ease-in-out;
    }

    .project-skill {
        @apply bg-gray-100 border border-gray-300 rounded-md p-2 m-1 text-sm hover:scale-120 transition-transform duration-300 ease-in-out;
    }

    .portfolio-part {
        @apply hover:scale-120 transition-transform duration-300 ease-in-out;
    }
}